body {}

p {
  &.hello {
    display: block;
    color: red;
  }
}

h1 {
  font-size: 12px;
  display: flex;
  color: red;
  color: opacify($color: red, $amount: 50);

  .test {
    color: red;
  }
}

p {}
